In [18]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

server_name   = "localhost"
database_name = "bookstore"

connection_string = f"DRIVER=ODBC Driver 17 for SQL Server;SERVER={server_name};DATABASE={database_name};Trusted_Connection=yes"
url_string = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

try:    
    engine = create_engine(url_string)
    with engine.connect() as connection:
        print(f'Successfully connected to {database_name}!')
        
        
        
except Exception as e:
    print('Error while connecting to database:\n')
    print(e)

Successfully connected to bookstore!

In [32]:
from sqlalchemy import text

query = text("SELECT * FROM Butiker")

In [13]:
with engine.connect() as conn:
    result = conn.execute(query)

    for row in result:
        print(row.Namn)

Booktopia
Booked Up
The Book Nook

In [36]:
import pandas as pd

df = pd.read_sql_query(query, con=engine.connect(), index_col="ID")

df

             Namn                                Adress
ID
1       Booktopia  Södermannagatan 19, 116 40 Stockholm
2       Booked Up  Kungsportsavenyn 23, 411 36 Göteborg
3   The Book Nook    Drottninggatan 27, 411 14 Göteborg

In [44]:
name = "B"

parameterized_query = text("Select * from Butiker where Namn like '%' + :testvar + '%'")

with engine.connect() as conn:    
    result = conn.execute(parameterized_query, {"testvar": name})
    print(result.fetchall())

[(1, 'Booktopia', 'Södermannagatan 19, 116 40 Stockholm'), (2, 'Booked Up', 'Kungsportsavenyn 23, 411 36 Göteborg'), (3, 'The Book Nook', 'Drottninggatan 27, 411 14 Göteborg')]