In [8]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy.engine import URL
from sqlalchemy import create_engine

In [9]:
server_name   = "localhost"
database_name = "bookstore"

# Convert to string acceptable by create_engine
connection_string = f"DRIVER=ODBC Driver 17 for SQL Server;SERVER={server_name};DATABASE={database_name};Trusted_Connection=yes"
url_string = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

engine = create_engine(url_string)

In [13]:
"""
The two below queries are for displaying the output data in different ways.
One returns multiple rows when given a book thats present in several stores,
and the other only a single row. Both get the job done, and its really
only a matter of personal preference as to which is preferred.

The queries are represented in a parameterized form in order to prevent SQL injection
by adding clear distinctions between the query and user input.

"""


query = text(f"""                       
    SELECT
        Titel,
        Språk,
	    Pris AS 'Pris (kr)',
        [Vikt (g)],
        [Antal sidor],
        bö.ISBN,
        Namn AS 'Butik',
        Antal AS 'Antal i lager',
        CONCAT(Stad, ', ', Gata, ', ', Postnummer)
        
    FROM
        -- join to get needed data
        Böcker bö
        INNER JOIN LagerSaldo la ON bö.ISBN = la.ISBN
        INNER JOIN Butiker bu ON la.ButikID = bu.ID
    WHERE
        Titel LIKE '%' + :search_words + '%'
""")


query_single_row = text(f"""                       
    SELECT
        Titel,
        Språk,
        Pris AS 'Pris (kr)',
        [Vikt (g)],
        [Antal sidor],
        bö.ISBN,
        STRING_AGG(bu.Namn, ' | ') AS 'Butik',
        STRING_AGG(Antal, ' | ') AS 'Antal i lager',
        STRING_AGG(CONCAT(Stad, ', ', Gata, ', ', Postnummer), ' | ') AS 'Adress'
    FROM
        -- join to get needed data
        Böcker bö
        INNER JOIN LagerSaldo la ON bö.ISBN = la.ISBN
        INNER JOIN Butiker bu ON la.ButikID = bu.ID
    -- group by for books that are present in multiple stores
    GROUP BY
        bö.ISBN,
        Titel,
        Språk,
        Pris,
        [Vikt (g)],
        [Antal sidor]
    HAVING
        Titel LIKE '%' + :search_words + '%'
""")

In [16]:
try:
    user_input = input('Search: ')

    # run bindparams for compatibility with the pandas implementation of parameterization
    parameterized_query = query_single_row.bindparams(search_words=user_input)
    
    # Connect to db, run query and return output as a dataframe 
    df = pd.read_sql_query(parameterized_query, con=engine.connect(), params={"search_words": f"%{user_input}%"})
        
except Exception as e:
    print('Error while connecting to database:\n')
    print(e)

df

,Titel,Språk,Pris (kr),Vikt (g),Antal sidor,ISBN,Butik,Antal i lager,Adress
0,The Subtle Art of Not Giving a F*ck,Engelska,180,202,224,9780062641540,The Book Nook,18,"Göteborg, Drottninggatan 27, 41114"
1,Quantum Mechanics: The Theoretical Minimum,Engelska,123,281,384,9780141977812,Booked Up,4,"Göteborg, Kungsportsavenyn 23, 41136"
2,Ghost In The Wires,Engelska,133,272,560,9780316212182,The Book Nook,1,"Göteborg, Drottninggatan 27, 41114"
3,Pale Blue Dot: a Vision of the Human Future in...,Engelska,222,363,360,9780345376596,Booked Up,8,"Göteborg, Kungsportsavenyn 23, 41136"
4,The Hitchhiker's Guide to the Galaxy,Engelska,42,113,224,9780345391803,Booktopia,42,"Stockholm, Södermannagatan 19, 11640"